# Analisa de Dados de bicicletas compartilhadas de San Francisco

## Primeiros passos

In [26]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import plotly.express as px

In [27]:
path_station = "data/station.csv"
path_status = "data/status.csv"
path_trip = "data/trip.csv"
path_weather = "data/weather.csv"

In [54]:
df_station = pd.read_csv(path_station)
df_trip = pd.read_csv(path_trip)
df_weather = pd.read_csv(path_weather)

In [55]:
df_status = pd.read_csv(path_status)

In [29]:
df_station.head()

,id,name,lat,long,dock_count,city,installation_date
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,8/6/2013
3,5,Adobe on Almaden,37.331415,-121.893200,19,San Jose,8/5/2013
4,6,San Pedro Square,37.336721,-121.894074,15,San Jose,8/7/2013

In [30]:
gdf_station = gpd.GeoDataFrame(df_station, geometry=gpd.points_from_xy(df_station.long, df_station.lat))

In [31]:
gdf_station.head()

,id,name,lat,long,dock_count,city,installation_date,geometry
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013,POINT (-121.90178 37.32973)
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013,POINT (-121.88898 37.33070)
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,8/6/2013,POINT (-121.89490 37.33399)
3,5,Adobe on Almaden,37.331415,-121.893200,19,San Jose,8/5/2013,POINT (-121.89320 37.33141)
4,6,San Pedro Square,37.336721,-121.894074,15,San Jose,8/7/2013,POINT (-121.89407 37.33672)

In [32]:
df_status.head()

   station_id  bikes_available  docks_available                 time
0           2                2               25  2013/08/29 12:06:01
1           2                2               25  2013/08/29 12:07:01
2           2                2               25  2013/08/29 12:08:01
3           2                2               25  2013/08/29 12:09:01
4           2                2               25  2013/08/29 12:10:01

In [33]:
df_trip.head()

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,4576,63,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,94127
1,4607,70,8/29/2013 14:42,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber,95138
2,4130,71,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214
3,4251,77,8/29/2013 11:29,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber,95060
4,4299,83,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,94103

In [34]:
df_weather.head()

,date,max_temperature_f,mean_temperature_f,min_temperature_f,max_dew_point_f,mean_dew_point_f,min_dew_point_f,max_humidity,mean_humidity,min_humidity,...,mean_visibility_miles,min_visibility_miles,max_wind_Speed_mph,mean_wind_speed_mph,max_gust_speed_mph,precipitation_inches,cloud_cover,events,wind_dir_degrees,zip_code
0,8/29/2013,74.0,68.0,61.0,61.0,58.0,56.0,93.0,75.0,57.0,...,10.0,10.0,23.0,11.0,28.0,0,4.0,NaN,286.0,94107
1,8/30/2013,78.0,69.0,60.0,61.0,58.0,56.0,90.0,70.0,50.0,...,10.0,7.0,29.0,13.0,35.0,0,2.0,NaN,291.0,94107
2,8/31/2013,71.0,64.0,57.0,57.0,56.0,54.0,93.0,75.0,57.0,...,10.0,10.0,26.0,15.0,31.0,0,4.0,NaN,284.0,94107
3,9/1/2013,74.0,66.0,58.0,60.0,56.0,53.0,87.0,68.0,49.0,...,10.0,10.0,25.0,13.0,29.0,0,4.0,NaN,284.0,94107
4,9/2/2013,75.0,69.0,62.0,61.0,60.0,58.0,93.0,77.0,61.0,...,10.0,6.0,23.0,12.0,30.0,0,6.0,NaN,277.0,94107

In [35]:
gdf_station_sf = gdf_station[gdf_station.city == 'San Francisco']
gdf_station_sf.head()

,id,name,lat,long,dock_count,city,installation_date,geometry
32,41,Clay at Battery,37.795001,-122.399970,15,San Francisco,8/19/2013,POINT (-122.39997 37.79500)
33,42,Davis at Jackson,37.797280,-122.398436,15,San Francisco,8/19/2013,POINT (-122.39844 37.79728)
34,45,Commercial at Montgomery,37.794231,-122.402923,15,San Francisco,8/19/2013,POINT (-122.40292 37.79423)
35,46,Washington at Kearney,37.795425,-122.404767,15,San Francisco,8/19/2013,POINT (-122.40477 37.79543)
36,47,Post at Kearney,37.788975,-122.403452,19,San Francisco,8/19/2013,POINT (-122.40345 37.78898)

In [36]:
fig = px.scatter_mapbox(gdf_station_sf, lat=gdf_station_sf.geometry.y, lon=gdf_station_sf.geometry.x, hover_name="name", hover_data=["dock_count", "installation_date"],
                        color_discrete_sequence=["fuchsia"], zoom=12, height=400)
fig.update_traces(marker=dict(size=10, color='green', opacity=0.65), selector=dict(type='scattermapbox'))
fig.update_layout(mapbox_style="open-street-map")
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

In [46]:
print(df_status.shape)
df_status.head()

(71984434, 4)

   station_id  bikes_available  docks_available                 time
0           2                2               25  2013/08/29 12:06:01
1           2                2               25  2013/08/29 12:07:01
2           2                2               25  2013/08/29 12:08:01
3           2                2               25  2013/08/29 12:09:01
4           2                2               25  2013/08/29 12:10:01

In [47]:
print(gdf_station_sf.shape)
gdf_station_sf.head()

(35, 8)

,id,name,lat,long,dock_count,city,installation_date,geometry
32,41,Clay at Battery,37.795001,-122.399970,15,San Francisco,8/19/2013,POINT (-122.39997 37.79500)
33,42,Davis at Jackson,37.797280,-122.398436,15,San Francisco,8/19/2013,POINT (-122.39844 37.79728)
34,45,Commercial at Montgomery,37.794231,-122.402923,15,San Francisco,8/19/2013,POINT (-122.40292 37.79423)
35,46,Washington at Kearney,37.795425,-122.404767,15,San Francisco,8/19/2013,POINT (-122.40477 37.79543)
36,47,Post at Kearney,37.788975,-122.403452,19,San Francisco,8/19/2013,POINT (-122.40345 37.78898)

In [48]:
result = pd.merge(df_status, gdf_station_sf, left_on="station_id", right_on="id")

In [49]:
print(result.shape)
result.head()

(36424134, 12)

,station_id,bikes_available,docks_available,time,id,name,lat,long,dock_count,city,installation_date,geometry
0,41,9,6,2013/08/29 12:06:01,41,Clay at Battery,37.795001,-122.39997,15,San Francisco,8/19/2013,POINT (-122.39997 37.79500)
1,41,9,6,2013/08/29 12:07:01,41,Clay at Battery,37.795001,-122.39997,15,San Francisco,8/19/2013,POINT (-122.39997 37.79500)
2,41,8,7,2013/08/29 12:08:01,41,Clay at Battery,37.795001,-122.39997,15,San Francisco,8/19/2013,POINT (-122.39997 37.79500)
3,41,8,7,2013/08/29 12:09:01,41,Clay at Battery,37.795001,-122.39997,15,San Francisco,8/19/2013,POINT (-122.39997 37.79500)
4,41,8,7,2013/08/29 12:10:01,41,Clay at Battery,37.795001,-122.39997,15,San Francisco,8/19/2013,POINT (-122.39997 37.79500)

In [50]:
result.city.unique()

array(['San Francisco'], dtype=object)

In [53]:
result.query('docks_available == dock_count')

,station_id,bikes_available,docks_available,time,id,name,lat,long,dock_count,city,installation_date,geometry
412,41,0,15,2013/08/29 19:40:01,41,Clay at Battery,37.795001,-122.399970,15,San Francisco,8/19/2013,POINT (-122.39997 37.79500)
413,41,0,15,2013/08/29 19:41:01,41,Clay at Battery,37.795001,-122.399970,15,San Francisco,8/19/2013,POINT (-122.39997 37.79500)
414,41,0,15,2013/08/29 19:42:01,41,Clay at Battery,37.795001,-122.399970,15,San Francisco,8/19/2013,POINT (-122.39997 37.79500)
415,41,0,15,2013/08/29 19:43:02,41,Clay at Battery,37.795001,-122.399970,15,San Francisco,8/19/2013,POINT (-122.39997 37.79500)
416,41,0,15,2013/08/29 19:44:01,41,Clay at Battery,37.795001,-122.399970,15,San Francisco,8/19/2013,POINT (-122.39997 37.79500)
...,...,...,...,...,...,...,...,...,...,...,...,...
36423896,82,0,15,2015-08-31 20:02:02,82,Broadway St at Battery St,37.798541,-122.400862,15,San Francisco,1/22/2014,POINT (-122.40086 37.79854)
36423897,82,0,15,2015-08-31 20:03:02,82,Broadway St at Battery St,37.798541,-122.400862,15,San Francisco,1/22/2014,POINT (-122.40086 37.79854)
36423898,82,0,15,2015-08-31 20:04:02,82,Broadway St at Battery St,37.798541,-122.400862,15,San Francisco,1/22/2014,POINT (-122.40086 37.79854)
36423899,82,0,15,2015-08-31 20:05:03,82,Broadway St at Battery St,37.798541,-122.400862,15,San Francisco,1/22/2014,POINT (-122.40086 37.79854)
36423900,82,0,15,2015-08-31 20:06:02,82,Broadway St at Battery St,37.798541,-122.400862,15,San Francisco,1/22/2014,POINT (-122.40086 37.79854)

In [72]:
result.drop(["lat", "long","id", "geometry"], axis=1, inplace=True)

In [73]:
result.dtypes

station_id                    int64
bikes_available               int64
docks_available               int64
time                 datetime64[ns]
name                         object
dock_count                    int64
city                         object
installation_date            object
dtype: object

In [74]:
result["time"] = pd.to_datetime(result["time"])

In [75]:
result.dtypes

station_id                    int64
bikes_available               int64
docks_available               int64
time                 datetime64[ns]
name                         object
dock_count                    int64
city                         object
installation_date            object
dtype: object

In [76]:
result.head()

,station_id,bikes_available,docks_available,time,name,dock_count,city,installation_date
0,41,9,6,2013-08-29 12:06:01,Clay at Battery,15,San Francisco,8/19/2013
1,41,9,6,2013-08-29 12:07:01,Clay at Battery,15,San Francisco,8/19/2013
2,41,8,7,2013-08-29 12:08:01,Clay at Battery,15,San Francisco,8/19/2013
3,41,8,7,2013-08-29 12:09:01,Clay at Battery,15,San Francisco,8/19/2013
4,41,8,7,2013-08-29 12:10:01,Clay at Battery,15,San Francisco,8/19/2013